@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white relative font-sans
        h-screen overflow-x-hidden;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
}

@supports (-webkit-backdrop-filter: blur(10px)) {
  .backdrop-blur-md {
    -webkit-backdrop-filter: blur(12px);
  }
}
